.modal-user {
    .content-body {
        .reds {
            color: red;
        }
    }
}

.manage-user-container {
    i {
        padding-right: 7px;
    }

    .actions {
        .refresh {
            margin-right: 10px;
        }
    }
}